
:root{
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desaturated-blue : hsl(244, 38%, 16%);
    --soft-violet : hsl(277, 64%, 61%);
    --white : hsl(0, 0%, 100%);
    --slightly-transparent-white : hsla(0, 0%, 100%, 0.75);
    --slightly-transparent-white : hsla(0, 0%, 100%, 0.6);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
body{
    font-family: "Lexend Deca", sans-serif;
    background-color: var(--very-dark-blue);
}
img{
    max-width: 100%;
}
ul{
    list-style-type: none;
}
p{
    font-size: 15px;
    line-height: 1.6;
}
.container{
    background-color: var(--dark-desaturated-blue);
}
.attribution {  
    font-size: 11px; text-align: center;
    }
.attribution a {
    color: hsl(228, 45%, 44%);
    }
